/* Start  Vraiables */
:root{
    --main-color:#1BBCD3;
    --main-padding:15px;
    --main-transparent:rgba(16, 177, 218, 0.5);
    --main-grey:#a2a2a2;
    }
    html{
    scroll-behavior: smooth;   
    } 
/* End  Vraiables */
/* Start Global Vraiables */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);

}
/* media for small screen  */
@media(min-width:768px){
    .container{
        width:750px;
    }

}
/* media for medium screen  */
@media(min-width:992px){
    .container{
        width:970px;
    }

}
/* media for large screen  */
@media(min-width:1200){
    .container{
        width:1170;
    }

}
/* End Global Vraiables */
/* Start Component */

/* the header with circle in the bottom */
.header-component{
    padding-top: calc(var(--main-padding) + 20px);
    text-align: center;
}
.header-component h2{
    font-size: 35px;
    font-weight: 200;
    position: relative;
}
.header-component h2::after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #000;
    width: 11%;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.header-component h2::before{
    content: "";
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:1px solid #000;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.header-component p{
    margin: 0 auto;
    width:70%;
    padding-top: calc(var(--main-padding) + 30px);
    color:var(--main-grey);
    line-height: 1.6;
    font-size: 20px;
}
@media(max-width:767px){

.header-component p{
    width:100%;
    padding-bottom:10px ;
    padding-right: 5px;
}
}

/* start of the content inside the header */
.header-cont{
    width: 50%;
    position: absolute;
    background-color: var(--main-transparent);
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    padding-right: var(--main-padding);
    padding-left: calc(var(--main-padding) + 120px);
    color: #fff;

}
.header-cont h2{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    font-size: 25px;
    font-weight: 200;
    margin: 0;
}
.header-cont p{
    font-size: 18px;
    font-weight: 100;
    line-height: 1.8;
}

/* End Component */
/* Start Header */
.header{
    width:100%;
    background-image: linear-gradient(90deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/landing.jpg);
    height: 100vh;
    background-size: cover;
    padding-top:var(--main-padding);
    position: relative;
}
.header .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    width:100%;
    /* position: fixed; */
    z-index: 100;
    /* background-color: rgba(0,0,0,0.6); */
}
.header .container::after{
    content: "";
    background-color: var(--main-grey);
    position: absolute;
    height: 1px;
    bottom:0px;
    width:calc(100% - 22px);
    left:0px;
}

.header .container img{
    width: 130px;
    height: 40px;
    cursor: pointer;
    margin-right: auto;
    display: block;
}
.header .container .links{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.header .container .links li{
    padding-top:40px;
    padding-bottom:40px;
    list-style: none;
    display: block;
}
.header .container .links li:hover,
.header .container .links .active{
    border-bottom: 1px solid var(--main-color);  
    z-index: 4;
}

.header .container .links li a{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    transition: 0.5s;
}
.header .container .links li a:hover,
.header .container .links .active a{
    color:var(--main-color);
}
.header .container  .search-bar{
    border-left:2px solid #fff;
    margin-left: 15px;

}

.header-first{
    top:50%;
    left: 0px;
    transform: translateY(-50%);
    width: 50%;
}

.header .container  i{
    color: #fff;
    font-size: 20px;
    padding-left: 15px;

}
.header .container .fa-bars {
    display: none;
}

@media(max-width:767px){

    .header .container .fa-bars {
        display: block;
        cursor: pointer;
        
    }
    
    .header .container .links{
        flex-direction: column;
        position: absolute;
        top: 43px;
        left: -30px;
        width: 100%;
        display: none;
    }
    .header .container .links li{
        padding-top:10px;
        padding-bottom:10px;
       
    }
    .header .container .fa-bars:hover + ul.links {
        display: flex;    
    }
}
/* small screen */
@media(max-width:767px){

    .header-cont{
        width: 100%
}
.header-cont h2{
    font-size: 25px;
    
}
.header-cont p{
    font-size: 12px;

    line-height: 1.8;
}
}
/* medium screen */
@media(max-width:991px){

    .header-cont{
        width: 100%
}
.header-cont h2{
    font-size: 25px;
    
}

}
.circle{
    position: absolute;
    top:90%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    font-size: 20px;
}
.circle .far{
    color:var(--main-grey);
}

.fa-angle-right, .fa-angle-left{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: var(--main-grey);
    font-size: 40px;
}
.fa-angle-right{
    right:3%;

}

.fa-angle-left{
    left:3%;
    
}
/* End Header */

/* start service section  */
.service-cont{
    width: 80%;
    margin: 0 auto;
    padding-top: calc(var(--main-padding) + 50px);
    padding-bottom: calc(var(--main-padding) + 50px);
    display: grid;
    gap:30px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.service-col{
    display: flex;
    align-items: flex-start;
}
.service-col i{
    flex-basis: 130px;
    font-size: 50px;
}
.service-col .ser-text{
    flex:1;
}

.service-col .ser-text h2{
    margin: 0px;
    color: var(--main-color);
    font-size: 20px;
}

.service-col .ser-text p{
    padding-top: calc(var(--main-padding) + 10px);
    color:var(--main-grey);
    line-height: 1.6;
    font-size: 17px;
    width: 100%;
    text-align: left;
}

/* mobile (small screen) */
@media(max-width:767px){

    .service-col{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .service-cont{
        width: 50%;
        display: block;
    }
    .service-col .ser-text p{
        width:100%;
        padding-left: 5px;
        text-align: center;
    }
    .service-cont{
        width: 90%;
    }
    .service-col i{
        flex-basis: 90px;
    }
}
/* end service section  */
/* start of our design section */
.design{
    padding-top: calc(var(--main-padding) + 50px);
    padding-bottom: calc(var(--main-padding) + 50px);
}
.design .container{
    display: flex;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/design-features.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    position: relative; 
    overflow: hidden;

    
}
.design-header{
    padding-left: calc(var(--main-padding) + 80px);
    top:40%;
    right: 0px;
    transform: translateY(-50%);
    width: 50%;
}

.design .container .des-cont{
    display: flex;
    align-items: center;
}
.design .container .des-cont p{
    line-height: 1.6;
    padding-top: 5px;
    padding-bottom: 5px;
}
.design .container .des-cont i{
    flex-basis: 40px;
}

.design .container .des-image img{ 
    position: absolute;
    top:35%;
    left:15%;
}
/* small screen  */
@media(max-width:767px){
    .design .container .des-image{ 
        display: none;
    }
    .design-header{
        padding-left: calc(var(--main-padding) + 40px);
        width: 100%;
    }
    .design-header .des-cont p{
       font-size: 20px;
    }
}
/* end of our design section */
/* start of portofolio section  */
.potofolio {
    padding-bottom: calc(var(--main-padding) + 40px);
}
.potofolio .container .porto-data{
    padding-top: calc(var(--main-padding) + 40px);
    padding-bottom: calc(var(--main-padding) + 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.potofolio .container .porto-data p:first-child{
    background-color: var(--main-color);
    color:#fff;
}
.potofolio .container .porto-data p{
   padding:10px;
}

/* start of the grid images */
 .porto-images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap:2px;
    padding-top: calc(var(--main-padding) + 40px);
    padding-bottom: calc(var(--main-padding) + 40px);
}
 
.porto-images .shuffle-img {
    position: relative;
    transition: 0.2s;
    cursor: pointer;
    overflow: hidden;
}
.porto-images .shuffle-img img{
    width:100%;
    transition: 0.3s;
}
.porto-images .shuffle-img:hover img{
    transform: scale(1.4) skewY(5deg);
}
.porto-images .shuffle-img:hover .shuffle-text {
    transform: translate(0px,0px);

}
.porto-images .shuffle-img .shuffle-text{
    /* display: none; */
    width:100%;
    background-color: #fff;
    position: absolute;
    padding-left: 5px;
    transform: translate(0px,100px);
    bottom:0;
    left:0;
    transition: 0.3s;
}
.porto-images .shuffle-img .shuffle-text p:last-child{
    color:var(--main-color)
}
/* small screen */
@media(max-width:767px){
    .porto-images{
        display: block;
        /* grid-template-columns: 1fr; */
    }

}
/* medium screen */
@media(max-width:991px){
    .porto-images{
        grid-template-columns: 1fr 1fr;
    }

}
/* large screen */
@media(max-width:1200px){
    .porto-images{
        grid-template-columns: 1fr 1fr;
    }
}
.btn-more{
    color:#fff;
    background-color: var(--main-color);
    padding: 10px 20px 10px;
    border: none;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    cursor: pointer;
}
/* Start of the video part */
.moving-part {
    padding-top: calc(var(--main-padding) + 40px);
    padding-bottom: calc(var(--main-padding) + 40px);
}
.moving-part .container {
    width: 100%; 
    padding: 0px;
    margin: 0px;
}
.moving-part .container .vid-moving{
    width: 100%;
    position: relative;
}
.moving-part .container .vid-moving video{
    height: 100vh;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
}
.moving-part .container .header-vid{
    position: absolute;
    width: 100%;
    bottom:10%;
    padding: 0px 0px 30px 0px;
    left:0%;
    transform: translateY(-50%);
    text-align: center;
}
.moving-part .container .header-vid .vid-btn{
    padding: 10px 20px 10px;
    color:#fff;
    background-color: #000;
    border: none;
}
/* end of portofolio section  */
/* Start of about us section  */
.about-us{ 
    padding-top: calc(var(--main-padding) + 40px);
    padding-bottom: calc(var(--main-padding) + 40px);
}
.about-us .about-cont{
    background-image: linear-gradient(90deg ,rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/stats.png);
    background-size: cover;
    height: 70vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.about-us .container{
    margin-bottom: calc(var(--main-padding) + 270px);
}
.about-us .about-cont .floating-img{
    flex-basis: 300px;
    position: absolute;
    top:-2%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    
}
.about-us .about-cont .floating-img img{
    width:100%;
}

.about-cont .about-sub-cont{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    color: #fff;
    text-align: center;
    background-color: var(--main-transparent);
    position: absolute;
    width:80%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.about-cont .about-sub-cont .about-float{
   padding: 20px 70px 20px;
   text-align: center;
    
}
.about-cont .about-sub-cont .about-float i{
    color:#000;
    font-size:30px;
}
.about-cont .about-sub-cont .about-float h2{
    font-size:40px;
}
@media(max-width:767px){
    .about-cont .about-sub-cont .about-float{
        padding: 5px 10px 5px;
         
     }
     .about-cont .about-sub-cont{
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
     .about-cont .about-sub-cont .about-float i{
        color:#000;
        font-size:20px;
    }
    .about-cont .about-sub-cont .about-float h2{
        font-size:30px;
    }
    
    
}

/* End of about us section  */

